*{
    margin: 0;
    padding: 0;
    font-family: 'Ruluko', sans-serif;
}

body{
    background-color: #2a2a2a;
    margin: 0;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #202020;
}

#header ul{
    list-style: none;
}

#header li{
    display: inline;
}

#header a{
    text-transform: uppercase;
    padding: 10px;
    font-size: 3vh;
    color: #fff;
    text-decoration: none;
    border-radius: 5%;
    transition: .3s;
}

#header a:hover{
    background-color: #ffffff39;
}

.title{
    text-transform: uppercase;
    font-size: 7vh;
    color: #fff;
    cursor: pointer;
}

.section{
    width: 100%;
    height: auto;
}

.image img{
    width: 100%;
    height: auto;
    opacity: .8;
}

.subtitle{
    color: #fff;
    font-size: 4vw;
    margin: 20px;
}

.txt{
    color: #fff;
    font-size: 2vw;
    text-align: justify;
    text-indent: 60px;
}

.box{
    padding: 0 40px;
}

.carrousel{
    background-color: #ddd;
    padding: 5px;
}

.box-image{
    background-color: #ddd;
    margin: 20px 0;
}

.ctz{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 380px;
}

.ctz a, .ctz img{
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 1px;
    border-radius: 1%;
}

.ctz img:hover{
    transform: scale(1.01);
}





#footer{
    display: flex;
    justify-content: center;
    background-color: #202020;
    padding: 30px;
}

#container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.row{
    flex-wrap: wrap;
    width: 15%;
    height: auto;
}

.row a, .row p{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.row a:hover{
    background-color: #ffffff20;
}

.row ul{
    list-style: none;
}

@media (max-width: 900px){
    #header a{
        font-size: 6vw;
    }
    .title{
        font-size: 12vw;
    }
    .subtitle{
        text-align: center;
        font-size: 7vw;
    }
    .txt{
        font-size: 5vw;
    }
    .box{
        padding: 5px;
    }

    #footer{
        padding: 0;
    }

    #container{
        flex-direction: column;
    }

    .row{
        margin: 30px;
        width: 80%;
    }

    .row a{
        font-size: 15px;
    }

    .row p{
        text-align: justify;
        font-size: 15px;
    }
}
